<div class="overlay">
  <div class="popup">

    <div class="flex d-flex justify-content-between">
      <h3>Task details</h3>
      <h2 class="close" (click)="OnCloseDetails()">&times;</h2>
    </div>
    <hr>

    <div>
      <div>
      <h3>{{taskDetails.title}}</h3>
      <p>{{taskDetails.desc}}</p>
     </div>
     <div>
      <strong>Assigned To : </strong>
      <span>{{taskDetails.assignedTo}}</span>
     </div>
     <div>
      <strong>Created At : </strong>
      <span>{{taskDetails.createdAt}}</span>
     </div>
     <div>
      <strong>Priority : </strong>
      <span>{{taskDetails.priority}}</span>
     </div>
     <div>
      <strong>Current Status : </strong>
      <span>{{taskDetails.status}}</span>
     </div>

    </div>

  </div>
</div>
