<div class="overlay">
  <div class="popup">

    <div class="flex d-flex justify-content-between">
      <h3>Task details</h3>
      <h2 class="close" (click)="OnCloseDetails()">&times;</h2>
    </div>
    <hr>

    <div>
      <div>
      <h3>Description</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto dignissimos,
        nam voluptate aperiam dolorem dolores unde eum mollitia iste labore, provident suscipit
        cupiditate facilis velit optio. Perspiciatis molestiae dolores expedita!
      </p>
     </div>
     <div>
      <strong>Assigned To : </strong>
      <span>Srk</span>
     </div>
     <div>
      <strong>Created At : </strong>
      <span>11/7</span>
     </div>
     <div>
      <strong>Priority : </strong>
      <span>Important</span>
     </div>
     <div>
      <strong>Current Status : </strong>
      <span>Start</span>
     </div>

    </div>

  </div>
</div>
