<div class="container home-page-container mt-5">
  <!-- Home Page Heading -->
  <div class="row justify-content-center">
    <div class="col-lg-8 text-center">
      <h2 class="display-4 mb-4">Home Page</h2>
    </div>
  </div>

  <!-- Home Page Content -->
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="home-page-content">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, quasi magnam. Maiores nihil molestiae quae accusantium ad, quis ratione voluptatibus dolore id repellendus, voluptatum perferendis necessitatibus eligendi. Tenetur, cumque incidunt?
        </p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni non rem maxime reprehenderit saepe libero ut nihil numquam unde minima itaque assumenda, blanditiis illum ducimus, accusamus temporibus error. Tenetur, ducimus?</p>
      </div>
    </div>
  </div>
</div>

